@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700,800,900');


body{
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 14px;
	background-color: #000;
	
}

header{
	padding: 20px 0;
}

#hero {
	background-image: url(../img/slider-3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 200px 0;
	
}

#hero h1 {
	font-size: 80px;
	font-weight: 700;
	
	
	
}

#hero p{
	font-size: 20px;
}

.btn-rectangulo {
	background-color: transparent;
	border:1px solid #fff;
	color: #fff;
	border-radius: 0;
	padding: 10px 30px;
	text-transform: lowercase;
	font-weight: 600;
		
}

.btn-rectangulo:hover {
	background-color: #fff;
	color: #000;
	
	
}
#service {
	padding: 70px 0;
}
#service h3 {
	margin: 0;
}

#service img {
	margin-bottom: 20px;
		
}

#service h4{
	font-size: 18px;	
}

#service p{
	padding-bottom: 30px;
}

#primera-seccion {
	/*background-color: #222020;*/
	background-image: url(../img/paris.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
	/*height: 250px;*/
	padding: 200px 0;
}


#s2 {
	background-color: #17AAE8;
	font-family: Segoe UI;
	padding: 35px 0;
	text-align: center;
	
	
}
#s2 h2{
	text-align: center;
}

#s2 p{
	text-align: center;
	font-size: 18px;
}
#s2 h3{
	border-radius: 100px;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	
}
#s2 p{
	font-size: 11px;
	
}

#s2 article{
	border: #FFFFFF thin solid;
	
}

.circulo {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 100%;
	margin: auto;
	margin-top: 20px;
	
	
}

#scroll {
	padding: 100px 0;
	
}

#scroll .info-scroll{
	text-align: center;
	margin-bottom: 50px;
} 

#scroll .info-scroll h4 {
	font-size: 25px;
	margin: 20px 0;
}

#scroll .info-scroll p{
	margin: 20px 0;
	
}

#logos {
	background-color: #0B0909;
	padding: 60px 0;
	
}


.foto {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 40%;
	left: 0;
	width: 90%;
	padding: 30px 40px;
	background-color: rgba(0,0,0,0.70);
	opacity:0;
	transition: all 0.3s ease-in-out;
}
.foto:hover .overlay {
	opacity: 1;
	transition: all 0.3s ease-in-out;
	transform: translate3d(5%,0,0);
}

.foto img{
	transition: all 0.3s ease-in-out;
}

.foto:hover img{
	transform: scale(1.06);
	transition: all 0.3s ease-in-out;
	
}
.bg-over-blue {
	background-color: rgba(2,12,46,0.80);
}



#logo-forms .overlay {
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 4;
}
#logo-forms .info-foto {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #45C4F9;
	z-index: 0;
		
}

#logo-forms .foto:hover .overlay{
	opacity: 1;
	transition: all 0.3s ease-in-out;
	
}

#page-header {
	background-color: #0c0c0c;
	color: #fff;
	padding: 50px 0;
}

#page-header h1 {
	font-size: 26px;
}


#content {
	padding: 45px 0;
}

.icono {
	font-size: 40px;
	color: #33D04E;
}


.app-carousel {
    padding: 0 6%;
}

.app-carousel .owl-dots {
    text-align: center;
}
.app-carousel .owl-dot {
    height: 11px;
    width: 11px;
    border: 2px solid #a49fba !important;
    border-radius: 50%;
    margin: 35px 6px;
}
.app-carousel .owl-dot.active {
    background-color: #fff;
    border: 0 !important;
}

.info-scroll .fas {
	font-size: 45px;
	margin-bottom: 30px;
}

#logos {
	background-color: #0c0c0c;
	padding: 50px 0;
}


.titulo {
	font-size: 40px;
	margin-bottom: 20px;
	
}

.titulo::after {
	content: '';
	height: 1px;
	background-color: #fff;
	width: 100px;
	display: block;
	margin-top:  20px;
}

.titulo span{
	display: block;
	font-weight: 300;
}


#blog article:nth-child(1) {
	padding-top: 70px;
	padding-bottom: 70px;
	
}

#parallax {
	background-image: url(../img/parallax-2.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
	
}

#message {
	padding: 60px 0;
	text-align: center;
	
}

#message h2{
	font-size: 20px;
	
}

#message h2 a{
	margin-left: 30px;
}

#footer {
	background-color: #0c0c0c;
	padding: 50px 0;
	width: 100%;
	
}

#footer h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

#footer a,
#copyright a{
	color: #fff;
}

#footer a:hover,
#copyright a {
	color: #777;
}


#copyright {
	padding: 25px 0;
}

#modal {
	color: #000;
}



/*Tablet*/
@media (min-width: 480px) and (max-width:1024px) {
	.carousel-caption h1{
		
		font-size: 40px;	
	}

	.carousel-caption p{
	font-size: 16px;
	}

}

/*Celular*/

@media (max-width:480px){
	
	.carousel-caption h1{
		
		font-size: 24px;	
	}
	.carousel-caption p{
		display: none;
	}
	.carousel-caption .btn-rectangulo{
		padding: 4px 10px;
	}
	
	.carousel-caption{
		top: 25%;
	}
	
	.btn-center {
		text-align: center;
		margin: auto;
		display: block;
		width: 40%;
	}
	.titulo{
		text-align: center;
	}
	.titulo::after{
		margin: 15px auto;
	}
}


body {
	background-color: #facfd1;
	font-family: 'Montserrat Alternates', sans-serif;
}

header {
	background-color: #fff;
}

header img{
	width: 10%;	
}

#sec-1{
	background-image: url(../img/meganwelker-beijos-151.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 300px 0;
}


.btn-classrosa {
	background-color: #facfd1;
	border:1px solid #facfd1;
	color: #009086;
	border-radius: 0;
	padding: 10px 30px;
	font-weight: 600;
	margin-left: 500px;
}

.btn-classrosa:hover{
	background-color: #fff;
	color: #EF095F;
	
}


#colors {
	color: #000;
	background-color: #fff;
	padding: 50px 0;
}

#colors h3{
	text-align: center;
	margin-bottom:  35px;
}


.btn-red{
	
	background-color: transparent;
	border:1px solid #FF0004;
	color: #FF0004;
	border-radius: 0;
	padding: 10px 30px;
	font-weight: 600;
	
}

.btn-red:hover{
	background-color: #FF0004;
	color: #fff;
}

.btn-yellow{
	background-color: transparent;
	border:1px solid #E8C300;
	color: #E8C300;
	border-radius: 0;
	padding: 10px 30px;
	font-weight: 600;
}

.btn-yellow:hover{
	background-color: #E8C300;
	color: #fff;
}


.btn-green{
	background-color: transparent;
	border:1px solid #28BB04;
	color: #28BB04;
	border-radius: 0;
	padding: 10px 30px;
	font-weight: 600;
}
.btn-green:hover{
	background-color: #28BB04;
	color: #fff;
}


.btn-blue{
	background-color: transparent;
	border:1px solid #0044FF;
	color: #0044FF;
	border-radius: 0;
	padding: 10px 30px;
	font-weight: 600;
}

.btn-blue:hover{
	background-color: #0044FF;
	color: #fff;
}

.btn-pink{
	background-color: transparent;
	border:1px solid #F548A9;
	color: #F548A9;
	border-radius: 0;
	padding: 10px 30px;
	font-weight: 600;
}
.btn-pink:hover{
	background-color: #F548A9;
	color: #fff;
}

.btn-purple{
	background-color: transparent;
	border:1px solid #C902FF;
	color: #C902FF;
	border-radius: 0;
	padding: 10px 30px;
	font-weight: 600;
	
}

.btn-purple:hover{
	background-color: #C902FF;
	color: #fff;
}


#fun {
	background-color: #fff;
	padding: 100px;
	
}


#fun img{
	padding-top: 35px;
	margin-left: 100px;
}

#fun a{
	align-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 180px;
	margin-right: 180px;
}
#new-arrivals{
	background-color: #fff;
	padding-bottom:  35px;
}

#new-arrivals h3{
	 color: #000;
	 text-align: center;
	 padding-bottom: 35px;
}

#shop-everything {
	padding-top: 35px;
	background-color: #ff961d;
	padding-bottom: 35px;
	text-align: center;
}

#shop-everything h2 {
	padding-top: 45px;
}

#shopbando {
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #fff;
	color: #000;
	text-align: center;
}

#shopbando h3{
	text-align: center;
}

#about-us{
	color:#000;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #fff;
	
}

#brighten-up {
	padding-top: 35px;
	padding-bottom: 35px;
	color: #F548A9;
	text-align: center;
	align-content: center;
}

#brighten-up form {
	align-content: center;
}

footer {
	background-color: #fff;
	padding-top: 35px;
	padding-bottom: 35px;
	color: #000;
}

footer .fab{
	width: 35px; 
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #F548A9;
	color: #fff;
	border-radius: 100%;
}

.overlay {
	position: absolute;
	top: 25%;
	left: 0;
	width: 90%;
	padding: 30px 40px;
	background-color: rgba(255,255,255,0.68);
	opacity:0;
	transition: all 0.3s ease-in-out;
}

#colors {
	align-content: center
}

#fun-blue {
	background-color: #93b7ff;
}

#fun-yellow {
	background-color: #ffeb93;
}

#brighten-up form {
	margin-left: px;
}

.btn-primary {
	background-color: #F548A9;
	border:1px solid #F548A9;
} 

.btn-primary:hover{
	background-color: #fff;
	color: #F548A9;
}

